<div class="center hero-unit">
  <h1>Welcome to SSS's Sample App(s?)</h1>

  <h2>
    This is the home page for SSS's
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now (Yella Yella!!!)", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails_sss.png", alt: "Rails"), 'http://rubyonrails.org/' %>